<div>
    <div>

        <div>
            <a href="/">Express Movies</a>
            &nbsp;
            <a href="/">Accueil</a>
            &nbsp;
            <a href="/movies">Films</a>
            &nbsp;
            <a href="/movie-search">Recherche</a>
        </div>       
      
    </div>
</div>