<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div>
    <div>

        <div>
            <a href="/">Express Movies</a>
            &nbsp;
            <a href="/">Accueil</a>
            &nbsp;
            <a href="/movies">Films</a>
            &nbsp;
            <a href="/movie-search">Recherche</a>
            &nbsp;
            <span id="connectionLink"></span>         
        </div>       
      
    </div>
</div>