<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>Express Movies : le cite des cinéphiles</h1>
		<div>
            Etes vous plutôt films ou séries ? Peu importe, vous trouverez votre bonheur dans les deux cas
        </div>		
	</body>
</html>
