<!DOCTYPE html>
	<html lang="fr">
	<% include ./partials/head %>
	<body>
		<% include ./partials/header %>
		
		<div class="central">
			<h1>Express Movies : le site des cinéphiles</h1>
			<div>
				Etes vous plutôt films ou séries ? <br>
				Peu importe, vous trouverez votre bonheur dans les deux cas !
			</div>			
		</div>

		<footer>
			<% include ./partials/footer %>
		</footer>
	</body>
</html>
