<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../public/style.css" />
	</head>
	<body>
		<% include ./partials/header %>

		<div class="central">
			<h1><%= title %></h1>
						
			<div>
				<% for(movie of movies) { %>
					<div><%= movie.title %> (<%= movie.year %>)</div>
				<% } %>
			</div>
			<br>
			<div>
				<form action="/movies" method="post">
					<label for="movietitle">Titre du film</label>
					<input type="text" name="movietitle" id="movietitle">
					<label for="movieyear">Année du film</label>
					<input type="text" name="movieyear" id="movieyear">
					<button type="submit">ajouter</button>
				</form>
			</div>
		</div>

		<footer>
			<% include ./partials/footer %>
		</footer>

	</body>
</html>