<!DOCTYPE html>
	<html lang="fr">
	<% include ./partials/head %>
	<body>
		<% include ./partials/header %>
		
		<div class="central">
        	<h1>Votre recherche sur <em>The Movie Database</em></h1>		
			<div>
				<input type="text" name="term" id="term" placeholder="titre de film">
                <button id="btnSearch">chercher</button>
			</div>
            <div id="results"></div>
		</div>


		<footer>
			<% include ./partials/footer %>
		</footer>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const API_KEY = "your_key";
            const searchBtn = document.querySelector('#btnSearch');
            let term = document.querySelector('#term');
            searchBtn.addEventListener('click', search);

            let resultsDiv = document.querySelector('#results');

            function search() { 
                console.log('search');               
                const query = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&query=${term.value}&language=fr-FR&region=FR`;
                axios.get(query)
                        .then(function (response) {
                            console.log(response);
                            displayResults(response.data.results);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
            }

            function displayResults(results) {
                resultsDiv.innerHTML = '';
                for(let result of results) {
                    let movieDiv = document.createElement('div');
                    movieDiv.innerHTML = result.title;
                    resultsDiv.appendChild(movieDiv);
                }
            }

        </script>
	</body>	
</html>