<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Fiche du film </title>
		<link rel="stylesheet" href="../public/style.css" />		
	</head>
	<body>
		<% include ./partials/header %>
		
		<div class="central">
        	<h1>Détails</h1>		
			<div>
				azerty
			</div>
		</div>

		<footer>
			<% include ./partials/footer %>
		</footer>

	</body>	
</html>