<!DOCTYPE html>
	<html lang="fr">
	<% include ./partials/head %>    
	<body>
		<% include ./partials/header %>
		
		<div class="central">
        	<h1>Détails</h1>		
			<div>
				azerty
			</div>
		</div>

		<footer>
			<% include ./partials/footer %>
		</footer>

	</body>	
</html>