<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="../public/style.css" />
	</head>
	<body>
		<% include ./partials/header %>
		
		<div class="central">
			<h1>Les films cultes</h1>
			<div>
				azerty
			</div>		
			
			<div>
				<%= joke %>
			</div>
		</div>

		<footer>
			<% include ./partials/footer %>
		</footer>

	</body>
</html>